<div class="bg-main-light p-4 my-4">
    <h3>Shop Cart</h3>
    <div class="row my-3 py-2 border-bottom align-items-center" *ngFor="let product of cardProducts?.products">
        <div class="col-md-1">
            <img class="w-100" [src]="product.product.imageCover" alt="">
        </div>
        <div class="col-md-11 d-flex justify-content-between">
            <div>
                <h6>{{product.product.title}}</h6>
                <h6 class="text-main">Price :{{product.price |currency :' EGP '}}</h6>
                <button (click)="deleteCartItem(product.product._id)" class=" btn m-0 p-0"><i
                        class="fa-regular text-main fa-trash-can"></i> Remove</button>
            </div>
            <div>
                <button (click)="updateItemCount(product.product._id,product.count -1)"
                    class="btn border-main btn-sm">-</button>
                <span class="mx-2">{{product.count}}</span>
                <button (click)="updateItemCount(product.product._id,product.count +1)"
                    class="btn border-main btn-sm">+</button>
            </div>
        </div>
    </div>
    <h6 class="text-main text-end">Total Price : {{cardProducts?.totalCartPrice |currency:' EGP '}} </h6>
</div>